### Resources

- http://hdr.undp.org/sites/default/files/hdr2019_technical_notes.pdf
- http://hdr.undp.org/en/data#

In [1]:
import pandas as pd

In [2]:
hdi = pd.read_csv('./data/human-development-index.csv', header=1)
hdi.head()

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574

In [14]:
hdi["HDIRank(2012)"] = hdi["2012"].rank(method='dense', ascending=False)
# convert countries to numbeo notation
hdi[hdi['Country'] == 'Czechia'] = 'Czech Republic'
hdi[hdi['Country'] == 'Iran (Islamic Republic of)'] = 'Iran'
hdi[hdi['Country'] == 'Russian Federation'] = 'Russia'
hdi.head()

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,HDIRank(2012)
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496,157
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791,61
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759,77
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857,33
4,149,Angola,..,..,..,..,..,..,..,..,...,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574,139

In [15]:
dfNumbeo = pd.read_csv(r"data/Numbeo.csv",sep=";",decimal=",")
dfNumbeo.columns = ['Period', 'City', 'NumbeoIndex', 'PurchasingPower', 'Safety', 'HealthCare', 'CostOfLiving', 'PropertyPriceToIncomeRatio', 'TrafficCommuteTime','Pollution', 'Climate']

dfNumbeo[['City','Country','Country2']] = dfNumbeo['City'].str.split(',',expand=True)
#why does it introduce another column?
#dfNumbeo.to_csv("numbeoprocessed.csv", index=False)
#Answer United States is part of the city name, so dropping this column...
dfNumbeo.drop('Country2', axis=1, inplace=True)
dfNumbeo2012 = dfNumbeo.set_index('Period').loc['2012-Q1',:]
dfNumbeo2012.reset_index(inplace=True)
dfNumbeo2012['Country'] = dfNumbeo2012.Country.str.strip()
dfNumbeo2012.set_index('City',inplace=True)
# fix us of a cities/country
dfNumbeo2012.loc['San Francisco','Country'] = "United States"
dfNumbeo2012.loc['Los Angeles','Country'] = "United States"
dfNumbeo2012.loc['New York','Country'] = "United States"
dfNumbeo2012["NumbeoRank"] = dfNumbeo2012["NumbeoIndex"].rank(ascending=False) 
dfNumbeo2012

,Period,NumbeoIndex,PurchasingPower,Safety,HealthCare,CostOfLiving,PropertyPriceToIncomeRatio,TrafficCommuteTime,Pollution,Climate,Country,NumbeoRank
City,,,,,,,,,,,,
Berlin,2012-Q1,215.25,140.62,77.34,64.81,89.06,5.74,23.00,40.00,NaN,Germany,1.0
Zurich,2012-Q1,213.18,136.31,83.85,77.78,166.07,8.27,27.33,26.50,NaN,Switzerland,2.0
Edmonton,2012-Q1,204.86,124.69,58.98,78.89,112.10,3.59,35.33,21.25,NaN,Canada,3.0
Perth,2012-Q1,196.00,118.34,48.75,87.04,142.18,5.24,27.00,15.00,NaN,Australia,4.0
Calgary,2012-Q1,190.78,124.25,71.88,70.42,111.71,4.58,62.00,25.08,NaN,Canada,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Cairo,2012-Q1,-35.66,18.35,61.33,70.83,52.69,15.51,58.75,129.50,NaN,Egypt,57.0
Tehran,2012-Q1,-50.44,47.52,43.27,43.40,60.86,13.72,73.50,140.75,NaN,Iran,58.0
Moscow,2012-Q1,-54.72,46.75,47.33,37.75,86.77,28.06,61.50,116.61,NaN,Russia,59.0
Kolkata,2012-Q1,-74.08,49.55,27.97,19.72,32.96,15.13,74.25,145.50,NaN,India,60.0
Shanghai,2012-Q1,-76.15,40.91,56.25,34.72,58.29,37.05,31.20,140.25,NaN,China,61.0

In [16]:
print(dfNumbeo2012.Country)
print(hdi.Country)

City
Berlin          Germany
Zurich      Switzerland
Edmonton         Canada
Perth         Australia
Calgary          Canada
               ...
Cairo             Egypt
Tehran             Iran
Moscow           Russia
Kolkata           India
Shanghai          China
Name: Country, Length: 61, dtype: object
0                                            Afghanistan
1                                                Albania
2                                                Algeria
3                                                Andorra
4                                                 Angola
                             ...
207                                   Sub-Saharan Africa
208                            Least Developed Countries
209                       Small Island Developing States
210    Organization for Economic Co-operation and Dev...
211                                                World
Name: Country, Length: 212, dtype: object

In [17]:
print(f'number of numbeo countries in hdi {dfNumbeo2012[dfNumbeo2012.Country.isin(hdi.Country)].shape[0]}')
print(f'number of hdi countries in numbeo {hdi[hdi.Country.isin(dfNumbeo2012.Country)].shape[0]}')
print(f'number of numbeo countries not in hdi {dfNumbeo2012[~dfNumbeo2012.Country.isin(hdi.Country)].shape[0]}')
print(f'number of hdi countries not in numbeo {hdi[~hdi.Country.isin(dfNumbeo2012.Country)].shape[0]}')

number of numbeo countries in hdi 61
number of hdi countries in numbeo 40
number of numbeo countries not in hdi 0
number of hdi countries not in numbeo 172

In [18]:
dfNumbeo2012[~dfNumbeo2012.Country.isin(hdi.Country)]

Empty DataFrame
Columns: [Period, NumbeoIndex, PurchasingPower, Safety, HealthCare, CostOfLiving, PropertyPriceToIncomeRatio, TrafficCommuteTime, Pollution, Climate, Country, NumbeoRank]
Index: []

In [23]:
numbeo2012_vs_hdi = pd.merge(dfNumbeo2012, hdi, how='inner', on='Country')
print(f'joined {numbeo2012_vs_hdi.shape[0]} cities from numbeo with countries from hdi')

joined 61 cities from numbeo with countries from hdi